* {
  margin: 0;
  font-family: "Amatic SC", cursive;
}

body {
  background-image: url("../img/profile2.bw.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

header {
  align-items: center;
  margin: 10px;
}

h1 {
  border: solid black;
  background-color: #EFEFEF;
  padding: 3px;
  font-size: 60px;
}

a {
  text-decoration: none;
}


nav {
  padding: 12px 24px;
}

nav li {
  font-size: 40px;
}

#about-me {
  border: solid black;
  font-weight: bold;
  font-size: 32px;
  color: black;
  background-color: #EFEFEF;
}

button {
  border: solid black;
}

.work-section{
  margin: 2px;
}
.card {
  height: 100%;
  transition: transform .1s;
}

.card:hover {
  transform: scale(1.05);
}