* {
  margin: 0;
}

/* HEADER / NAV BAR STYLES START */

/* header {
  background-image: url("../img/profile2.bw.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
} */

/* HEADER / NAVBAR STYLES END */


