main {
  margin: 0 auto;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--light);
  background-image: url("../img/porfolio-bw.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
  max-height: 100px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: black solid 2px;
  background-color: white;
  font-family: "Peralta", cursive;
}

header h1 {
  padding: 2%;
  margin-left: 1%;
  margin-right: 2%;
}

footer {
  background-color: white;
  left: 0;
  bottom: 0;
  position: sticky;
  width: 100%;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2px;
  width: 50vw;
}

.nav-button {
  background-color: white;
  border: none;
}

.nav-button:hover {
  color: skyblue;
}

.nav-item {
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  margin: 5px;
}

.form-input {
  border: 1px solid black;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: black;
  width: 80%;
  margin-bottom: 15px;
  margin-left: 12%;
  background-color: rgba(255, 255, 255, 0.75);
}

.form-input:focus {
  /* border: 1px solid var(--dark); */
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

#about-section {
  background-color: white;
}

#about-section h1 {
  font-family: "Peralta", cursive;
}

#photo {
  border-radius: 50%;
  height: 100%;
}

#contact-section {
  background-color: white;
  margin-top: 55px;
}


#contact-button {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: block;
  border-width: 1px;
}

#resume-section {
  text-align: center;
  width: 20rem;
  text-decoration: none;
  margin: auto;
  background: white;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-height: 580px) {
  footer {
    position: absolute;
  }
}
/* .box-1{
  width: 25%;
}

.box-2 {
  width:25%;
}

.box-3 {
width: 25%;
}

.box-4 {
width: 25%;
}

.box-5 {
  width: 25%;
}

.box-5 {
  width: 25%;
}

.box-6 {
  width: 25%
} */

/* SCRATCH */
/* #project-section {
  display: 50;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
} */

/* .card { */
/* Add shadows to create the "card" effect */
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: white solid 5px;
  width: 40%;
  height: 100%;
  margin: 5%; */
/* background-color: deepskyblue;
  border: black solid 2px;
  margin: 5px;
  padding: 3px;
  height: 100px;
} */

/* #card-1{
width: 10%;
} */

/* #card-2{
width: 30%
} */

/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

/* Add some padding inside the card container */
/* .card-body {
  padding: 2px 16px;
  background-color: white;
} */

/* .card-img {
  height: max-content;
} */

/* #contact {
  background-color: dimgray;
  background: rgba(255, 255, 255, 0.9);
  border: #000000 solid;
  margin: auto;
  color:#000000;
} */